#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
}

#startGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
}

#countDown {
    position: absolute;
    font-size: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    background: linear-gradient(to bottom, antiquewhite, floralwhite);
    -webkit-background-clip: text;
    z-index: 1001;
    font-family: 'game-font', sans-serif;
    text-shadow: 5px 5px 50px white;
}
.traffic-light-box {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 5vw;
    background: #222;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 15;
    visibility: hidden;
}
#left_light {
    position: absolute;
    top: 0;
    left: 25vw;
}
#right_light {
    position: absolute;
    top: 0;
    right: 75vw;
}

.light {
    width: 7.5vh;
    height: 7.5vh;
    margin: 10px 0;
    border-radius: 50%;
    background: #333;
    box-shadow: 0 0 10px #000;
    transition: background 0.3s, box-shadow 0.3s;
}
.red {
    background-color: rgba(255, 0, 0, 0.3);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.3);
}

.green {
    background-color: rgba(0, 255, 0, 0.3);
}


.red.active {
    background: red;
    box-shadow: 0 0 20px red;
}

.yellow.active {
    background: yellow;
    box-shadow: 0 0 20px yellow;
}

.green.active {
    background: limegreen;
    box-shadow: 0 0 20px limegreen;
}

@keyframes slideDown {
    0% {
        transform: translateY(-150%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flashingLight {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}